#calendar-container [data-tags~="filled"]:not(.active) {
  /* background-color: rgb(var(--ctp-teal)); */
  /* background-color: rgb(240, 198, 198); */
  border: 1px solid var(--icon-color-focused);
  /* background:linear-gradient(to bottom right, rgba(255,0,0,0) 80%,var(--icon-color-focused) 20%);
  :hover {
    background-color: var(--interactive-hover);
  } */

  background-color: var(--background-modifier-active);

  /* TODO: emoji overlap */
  /* content: "✅";
  transform: scale(.6);
  position: absolute;
  top: -4px;
  right: 4px;
  height: 8px;
  width: 8px; */
}

#calendar-container [data-tags~="filled"]:not(.active):hover {
  background:linear-gradient(to bottom right, rgba(255,0,0,0) 80%,var(--icon-color-focused) 20%);
  background-color: rgb(var(--ctp-crust));
}

#calendar-container [class~="active"] {
  border: 1px solid var(--icon-color-focused);
}